/* Custom Checkboxes */
input[type="checkbox"] {
  cursor: pointer;
  width: 10px;
  height: 10px;
  margin: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  outline: 1px solid lightblue;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-clip: content-box;
  padding: 3px;
}

input,
input:focus {
  border: none;
  border-radius: 2pt;
  box-shadow: 0 0 0 1pt grey;
  outline: none;
  transition: 0.1s;
}

input[type="checkbox"]:checked {
  background-color: #3899ff;
}

input[type="checkbox"]:focus {
  box-shadow: 0 0 3pt 2pt cornflowerblue;
}

label {
  font-size: 18px;
  position: relative;
  top: -9px;
}
