/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  margin-top: 0.48rem;
  margin-bottom: 0.48rem;
  border-radius: 1rem;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae6d6d;
  border-radius: 1rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b24646;
}